<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>{{data.name}} category</title>
     <link rel="stylesheet" href="css/style.css">
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw==" crossorigin="anonymous" referrerpolicy="no-referrer">
</head>
<body>
     {% include "topnav.html" %}
    {% include "header.html" %}
     <main>
          <div class="container">
               <nav class="breadcrumb">
                    <ol class="flex">
                         <li><a href="/">Home</a></li>
                         <li><a href="/products">products</a>
                    </ol>
               </nav>
              <h1>{{ data.name}}</h1>

              <ol>
                    {% for i in data %}   
                         <li>{{ i.name }}</li>
                    {% endfor %}    
               </ol>
            
          </div>
     </main>
     {% include "footer.html" %}
     <script src="js/jquery.min.js"></script>
 <script src="js/common.js"></script>
</body>
</html>