 <footer>
          <div class="container">
               <div class="row">
                    <div class="col-3">
                         <h3>Exclusive</h3>
                         <p><a href="">Subscribe</a></p>
                         <p><a href="">Get 10% off on first order</a></p>
                         <form>
                              <input type="email" placeholder="Enter your email">
                              <button><span class="fa fa-paper-plane"></span></button>
                         </form>
                    </div>
                    <div class="col-3">
                         <h3>Support</h3>
                         <address>Lorem ipsum dolor sit amet.</address>
                         <p><a href="">Email</a></p>
                         <p><a href="">Phone</a></p>
                    </div>  
                     <div class="col-2">
                         <h3>Account</h3>
                         <p><a href="">My Account</a></p>
                         <p><a href="">Login / Register</a></p>
                         <p><a href="">Cart</a></p>
                         <p><a href="">Wishlist</a></p>
                         <p><a href="">Shop</a></p>
                     </div> 
                      <div class="col-2">
                         <h3>Quick Links</h3>
                         <p><a href="">Privacy</a></p>
                         <p><a href="">Terms of use</a></p>
                         <p><a href="">FAQ</a></p>
                         <p><a href="">Contact</a></p>

                     </div>   
                      <div class="col-2">
                         <h3>Download App</h3>
                         <div class="downloads">
                              <div class="flex">
                                   <div><img src="img/Qrcode.svg" alt="qr code" width="80" height="80"></div>
                                   <div>
                                        <a href="" class="playstore">Play Store</a>
                                        <a href="" class="appstore">App Store</a>
                                   </div>
                              </div>
                              
                             
                         </div>
                         <div class="social">
                              <ul class="flex">
                                   <li><a href=""><span class="fa-brands fa-facebook-f"></span></a></li>
                                   <li><a href=""><span class="fa-brands fa-twitter"></span></a></li>
                                   <li><a href=""><span class="fa-brands fa-instagram"></span></a></li>
                                   <li><a href=""><span class="fa-brands fa-linkedin-in"></span></a></li>
                              </ul>
                         </div>
                     </div>     
               </div>
               <div class="copy">
                    <p class="text-center">Copyright Rime 2026. All right reserved</p>
               </div>
          </div>
     </footer>