 <header>
          <div class="container">
               <div class="row">
                    <div class="col-3">
                         <a class="logo" href="">ECOMM</a>
                    </div>
                    <div class="col-9">
                         <div class="flex justify-space-bet align-center">
                              <nav>
                                   <ul class="flex">
                                        <li><a class="active" href="/">Home</a></li>
                                        <li><a href="/contact">Contact</a></li>
                                        <li><a href="/about">About</a></li>
                                        <li><a href="/signup">Sign up</a></li>
                                   </ul>
                              </nav>
                              <div class="flex align-center posr">
                                   <button class="search"><span class="fa fa-search" aria-hidden="true"></span></button>
                                   <form action="/search" role="search">
                                        <input type="search" name="query" placeholder="What you are looking for? " required>
                                        <button><span class="fa fa-magnifying-glass" aria-hidden="true"></span></button>
                                   </form>
                                   <a href="/wishlist" class="wishlist"><span class="fa fa-heart" aria-hidden="true"></span></a>
                                   <a href="/cart" class="cart"><span class="fa fa-shopping-cart" aria-hidden="true"></span></a>
                                   <button class="account"><span class="fa fa-user"></span></button>
                                   <button class="menu"><span class="fa fa-bars" aria-hidden="true"></span></button>
                                   <div class="account-dropdown">
                                        <ul>
                                             <li><a href="/account"><span class="fa fa-user"></span> Account</a></li>
                                             <li><a href="/orders"><span class="fa fa-bag-shopping"></span> My Orders</a></li>
                                             <li><a href=""><span class="fa fa-circle-xmark"></span> My Cancellations</a></li>
                                             <li><a href=""><span class="fa fa-star"></span>My Reviews</a></li>
                                             <li><a href="/signout"><span class="fas fa-arrow-right-from-bracket fa-rotate-180"></span> Signout</a></li>
                                        </ul>
                                   </div>
                              </div>
                         </div>
                    </div>
               </div>
          </div>
     </header>