<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>{{title}}</title>
     <link rel="stylesheet" href="css/style.css">
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw==" crossorigin="anonymous" referrerpolicy="no-referrer">
</head>
<body>
     {% include "topnav.html" %}
    {% include "header.html" %}
     <main>
          <div class="container">
               <nav class="breadcrumb">
                    <ol class="flex">
                         <li><a href="/">Home</a></li>
                         <li><a href="/search">Search</a>
                    </ol>
               </nav>
                    <h1>{{title}}</h1>

                    <p>{{message}}</p>
                  
                    <div class="row">
                          {% for i in items %}   
                              <div class="col-6 col-m-12">
                                   <div class="card">
                                        <a class="searchproduct" href="/products/{{i.name | replace(' ','-')}}">
                                             <img class="float-end" src="/{{i.img.thumb}}" alt="{{i.name}}" width="200" height="200">
                                             <h2>{{i.name | title}}</h2>
                                             <p>Sellimg Price:  {{ i.mrp - (i.mrp*i.discount/100) }} </p>
                                             <p>MRP:  {{i.mrp}} </p>
                                             <p>Discount  {{ i.discount }}% </p>
                                             <p>Ratings: {{i.ratings}}</p>
                                        </a>
                                   </div>
                              </div>
                         {% endfor %}    
                    </div>
               
          </div>
     </main>

     {% include "footer.html" %}
     <script src="js/jquery.min.js"></script>
<!-- <script src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script> -->
 <script src="js/common.js"></script>
</body>
</html>